<p>Select items you have at home</p>

<input type="email" class="multidatalist" multiple="multiple" name="search" list="tags" autocomplete="off" [(ngModel)]="fridgeItems">
  <datalist id="tags">
    <option value=""></option>
    <option value="spice powder">
        <option value="acorn squash">
        <option value="adobo sauce">
        <option value="agave nectar">
        <option value="ahi tuna">
        <option value="alfredo pasta sauce">
        <option value="almond extract">
        <option value="almond flour">
        <option value="almond milk">
        <option value="almonds">
        <option value="amaretto">
        <option value="ancho chiles">
        <option value="anchovies">
        <option value="andouille sausage">
        <option value="angel food cake mix">
        <option value="angel hair pasta">
        <option value="angostura bitters">
        <option value="apple">
        <option value="apple butter spread">
        <option value="apple cider">
        <option value="apple juice">
        <option value="apple pie spice">
        <option value="apricot preserves">
        <option value="apricots">
        <option value="arborio rice">
        <option value="arrowroot powder">
        <option value="artichoke heart quarters">
        <option value="artichokes">
        <option value="arugula">
        <option value="asafoetida">
        <option value="asafoetida powder">
        <option value="asiago cheese">
        <option value="asian pear">
        <option value="asparagus spears">
        <option value="avocado">
        <option value="avocado oil">
        <option value="baby bell peppers">
        <option value="baby bok choy">
        <option value="baby carrots">
        <option value="baby corn">
        <option value="baby spinach leaves">
        <option value="baby-back ribs">
        <option value="baby-back ribs">
        <option value="bacon">
        <option value="bacon fat">
        <option value="baguette">
        <option value="baking bar">
        <option value="baking powder">
        <option value="baking soda">
        <option value="balsamic glaze">
        <option value="balsamic vinegar">
        <option value="bamboo shoots">
        <option value="banana">
        <option value="basmati rice">
        <option value="bay leaves">
        <option value="bbq sauce">
        <option value="beans">
        <option value="beef">
        <option value="beef brisket">
        <option value="beef broth">
        <option value="beef chuck roast">
        <option value="beef stock">
        <option value="beef tenderloin">
        <option value="beer">
        <option value="beer">
        <option value="beets">
        <option value="bell pepper">
        <option value="berries">
        <option value="biscuit mix">
        <option value="biscuits">
        <option value="bittersweet chocolate">
        <option value="black bean sauce">
        <option value="black beans">
        <option value="black olives">
        <option value="black pepper">
        <option value="black sesame seeds">
        <option value="blackberries">
        <option value="blanched almonds">
        <option value="blood orange">
        <option value="blue cheese">
        <option value="blueberries">
        <option value="bok choy">
        <option value="boneless skinless chicken breast">
        <option value="bourbon">
        <option value="brandy">
        <option value="bread">
        <option value="bread flour">
        <option value="breakfast links">
        <option value="brie">
        <option value="broccoli">
        <option value="broccoli florets">
        <option value="brown rice">
        <option value="brown rice flour">
        <option value="brown sugar">
        <option value="brownie mix">
        <option value="brussel sprouts">
        <option value="bulgur">
        <option value="butter">
        <option value="butterhead lettuce">
        <option value="buttermilk">
        <option value="butternut squash">
        <option value="butterscotch chips">
        <option value="cabbage">
        <option value="caesar dressing">
        <option value="cajun seasoning">
        <option value="cake flour">
        <option value="candy canes">
        <option value="candy coating">
        <option value="candy melts">
        <option value="canned black beans">
        <option value="canned diced tomatoes">
        <option value="canned garbanzo beans">
        <option value="canned green chiles">
        <option value="canned kidney beans">
        <option value="canned mushrooms">
        <option value="canned pinto beans">
        <option value="canned red kidney beans">
        <option value="canned tomatoes">
        <option value="canned tuna">
        <option value="canned white beans">
        <option value="canned white cannellini beans">
        <option value="cannellini beans">
        <option value="cantaloupe">
        <option value="capers">
        <option value="caramel sauce">
        <option value="caramels">
        <option value="caraway seed">
        <option value="cardamom">
        <option value="cardamom pods">
        <option value="carp">
        <option value="carrots">
        <option value="cat fish filets">
        <option value="cauliflower">
        <option value="cauliflower florets">
        <option value="cauliflower rice">
        <option value="celery">
        <option value="celery ribs">
        <option value="celery root">
        <option value="celery salt">
        <option value="celery seed">
        <option value="cereal">
        <option value="champagne">
        <option value="chana dal">
        <option value="cheddar">
        <option value="cheese">
        <option value="cheese curds">
        <option value="cheese dip">
        <option value="cheese soup">
        <option value="cheese tortellini">
        <option value="cherry">
        <option value="cherry pie filling">
        <option value="cherry tomatoes">
        <option value="chestnuts">
        <option value="chia seeds">
        <option value="chicken base">
        <option value="chicken bouillon">
        <option value="chicken bouillon granules">
        <option value="chicken breasts">
        <option value="chicken broth">
        <option value="chicken drumsticks">
        <option value="chicken legs">
        <option value="chicken pieces">
        <option value="chicken sausage">
        <option value="chicken stock">
        <option value="chicken tenders">
        <option value="chicken thighs">
        <option value="chicken wings">
        <option value="chickpea">
        <option value="chile garlic sauce">
        <option value="chili paste">
        <option value="chili peppers">
        <option value="chili powder">
        <option value="chili sauce">
        <option value="chipotle chiles in adobo">
        <option value="chipotle chilies">
        <option value="chipotle peppers in adobo">
        <option value="chive & onion cream cheese spread">
        <option value="chocolate">
        <option value="chocolate chip cookies">
        <option value="chocolate chunks">
        <option value="chocolate ice cream">
        <option value="chocolate milk">
        <option value="chocolate sandwich cookies">
        <option value="chocolate syrup">
        <option value="chocolate wafer cookies">
        <option value="chorizo sausage">
        <option value="cider vinegar">
        <option value="cilantro">
        <option value="cinnamon roll">
        <option value="cinnamon stick">
        <option value="cinnamon sugar">
        <option value="cinnamon swirl bread">
        <option value="clam juice">
        <option value="clams">
        <option value="clarified butter">
        <option value="clove">
        <option value="coarse salt">
        <option value="coarsely ground pepper">
        <option value="cocoa nibs">
        <option value="cocoa powder">
        <option value="coconut">
        <option value="coconut aminos">
        <option value="coconut butter">
        <option value="coconut cream">
        <option value="coconut extract">
        <option value="coconut flour">
        <option value="coconut milk">
        <option value="coconut oil">
        <option value="coconut water">
        <option value="cod">
        <option value="coffee">
        <option value="cognac">
        <option value="cola">
        <option value="colby jack">
        <option value="collard greens">
        <option value="condensed cream of celery soup">
        <option value="condensed cream of mushroom soup">
        <option value="confectioner's swerve">
        <option value="cooked bacon">
        <option value="cooked brown rice">
        <option value="cooked chicken breast">
        <option value="cooked ham">
        <option value="cooked long grain rice">
        <option value="cooked pasta">
        <option value="cooked polenta">
        <option value="cooked quinoa">
        <option value="cooked wild rice">
        <option value="cookies">
        <option value="coriander">
        <option value="corn">
        <option value="corn bread mix">
        <option value="corn chips">
        <option value="corn flakes cereal">
        <option value="corn flour">
        <option value="corn kernels">
        <option value="corn oil">
        <option value="corn tortillas">
        <option value="cornbread">
        <option value="corned beef">
        <option value="cornish hens">
        <option value="cornmeal">
        <option value="cornstarch">
        <option value="cotija cheese">
        <option value="cottage cheese">
        <option value="country bread">
        <option value="courgettes">
        <option value="couscous">
        <option value="cow pea">
        <option value="crabmeat">
        <option value="cracked pepper">
        <option value="cranberries">
        <option value="cranberry juice">
        <option value="cream">
        <option value="cream cheese">
        <option value="cream cheese block">
        <option value="cream of chicken soup">
        <option value="cream of tartar">
        <option value="creamed corn">
        <option value="creamy peanut butter">
        <option value="creme fraiche">
        <option value="cremini mushrooms">
        <option value="creole seasoning">
        <option value="crisp rice cereal">
        <option value="croutons">
        <option value="crystallized ginger">
        <option value="cucumber">
        <option value="cumin seeds">
        <option value="cup cake">
        <option value="currants">
        <option value="curry leaves">
        <option value="dairy free milk">
        <option value="dark brown sugar">
        <option value="dark chocolate">
        <option value="dark chocolate candy bars">
        <option value="dark chocolate chips">
        <option value="dark sesame oil">
        <option value="dates">
        <option value="deep dish pie crust">
        <option value="deli ham">
        <option value="deli turkey">
        <option value="dessert oats">
        <option value="dessert wine">
        <option value="diced ham">
        <option value="diet pop">
        <option value="dijon mustard">
        <option value="dill">
        <option value="dill pickles">
        <option value="hot dog">
        <option value="double cream">
        <option value="dried apricots">
        <option value="dried basil">
        <option value="dried cherries">
        <option value="dried chorizo">
        <option value="dried cranberries">
        <option value="dried dill">
        <option value="dried onion">
        <option value="dried porcini mushrooms">
        <option value="dried rubbed sage">
        <option value="dried thyme">
        <option value="dried tomatoes">
        <option value="dry bread crumbs">
        <option value="dry milk">
        <option value="dry mustard">
        <option value="dry red wine">
        <option value="dry roasted peanuts">
        <option value="duck fat">
        <option value="dutch process cocoa powder">
        <option value="edamame">
        <option value="egg substitute">
        <option value="egg vermicelli">
        <option value="egg whites">
        <option value="egg yolk">
        <option value="eggnog">
        <option value="eggplant">
        <option value="elbow macaroni">
        <option value="enchilada sauce">
        <option value="english cucumber">
        <option value="english muffin">
        <option value="erythritol">
        <option value="escarole">
        <option value="espresso">
        <option value="evaporated milk">
        <option value="extra firm tofu">
        <option value="extra virgin olive oil">
        <option value="farfalle">
        <option value="farro">
        <option value="fat free mayo">
        <option value="fat-free less-sodium chicken broth">
        <option value="fennel">
        <option value="fennel seeds">
        <option value="fenugreek leaf">
        <option value="fenugreek seeds">
        <option value="feta cheese">
        <option value="fettuccine">
        <option value="fire roasted tomatoes">
        <option value="fish">
        <option value="fish sauce">
        <option value="fish stock">
        <option value="flank steak">
        <option value="flax seeds">
        <option value="fleur de sel">
        <option value="flour">
        <option value="flour tortillas">
        <option value="fontina cheese">
        <option value="food dye">
        <option value="frank's redhot sauce">
        <option value="free range eggs">
        <option value="french bread">
        <option value="fresh basil">
        <option value="fresh bean sprouts">
        <option value="fresh chives">
        <option value="fresh corn">
        <option value="fresh corn kernels">
        <option value="fresh figs">
        <option value="fresh fruit">
        <option value="fresh herbs">
        <option value="fresh mint">
        <option value="fresh mozzarella">
        <option value="fresh rosemary">
        <option value="fresh thyme leaves">
        <option value="fried onions">
        <option value="frosting">
        <option value="froyo bars">
        <option value="frozen corn">
        <option value="frozen spinach">
        <option value="fudge">
        <option value="fudge topping">
        <option value="fun size almond joy bar">
        <option value="garam masala">
        <option value="garbanzo bean flour">
        <option value="garlic">
        <option value="garlic paste">
        <option value="garlic powder">
        <option value="garlic powder">
        <option value="garlic salt">
        <option value="gelatin">
        <option value="gf chocolate cake mix">
        <option value="gin">
        <option value="ginger">
        <option value="ginger ale">
        <option value="ginger paste">
        <option value="ginger-garlic paste">
        <option value="gingersnap cookies">
        <option value="gnocchi">
        <option value="goat cheese">
        <option value="golden raisins">
        <option value="gorgonzola">
        <option value="gouda cheese">
        <option value="graham cracker crumbs">
        <option value="graham cracker pie crust">
        <option value="graham crackers">
        <option value="grain blend">
        <option value="grand marnier">
        <option value="granny smith apples">
        <option value="granola">
        <option value="granulated garlic">
        <option value="grape tomatoes">
        <option value="grapefruit">
        <option value="grapeseed oil">
        <option value="gravy">
        <option value="great northern beans">
        <option value="greek yogurt">
        <option value="green beans">
        <option value="green bell pepper">
        <option value="green chili pepper">
        <option value="green food coloring">
        <option value="green grapes">
        <option value="green olives">
        <option value="green onions">
        <option value="greens">
        <option value="grill cheese">
        <option value="grill seasoning">
        <option value="ground allspice">
        <option value="ground ancho chili">
        <option value="ground beef">
        <option value="ground chicken">
        <option value="ground chipotle chile pepper">
        <option value="ground cinnamon">
        <option value="ground cinnamon">
        <option value="ground cloves">
        <option value="ground coriander seeds">
        <option value="ground cumin">
        <option value="ground flaxseed">
        <option value="ground ginger">
        <option value="ground lamb">
        <option value="ground mace">
        <option value="ground nutmeg">
        <option value="ground pork">
        <option value="ground pork sausage">
        <option value="ground veal">
        <option value="gruyere">
        <option value="guacamole">
        <option value="half n half">
        <option value="halibut fillet">
        <option value="ham">
        <option value="hamburger buns">
        <option value="hard cooked eggs">
        <option value="harissa">
        <option value="hash brown potatoes">
        <option value="hazelnuts">
        <option value="healthy request cream of celery soup">
        <option value="hemp seeds">
        <option value="herbes de provence">
        <option value="herbs">
        <option value="hershey's kisses brand milk chocolates">
        <option value="hoisin sauce">
        <option value="honey mustard">
        <option value="horseradish">
        <option value="hot sauce">
        <option value="hummus">
        <option value="ice">
        <option value="ice cream">
        <option value="instant chocolate pudding mix">
        <option value="instant coffee powder">
        <option value="instant espresso powder">
        <option value="instant lemon pudding mix">
        <option value="instant yeast">
        <option value="irish cream">
        <option value="italian bread">
        <option value="italian cheese blend">
        <option value="italian sausages">
        <option value="italian seasoning">
        <option value="jaggery">
        <option value="jalapeno">
        <option value="jasmine rice">
        <option value="jelly">
        <option value="jicama">
        <option value="jimmies">
        <option value="juice">
        <option value="jumbo shell pasta">
        <option value="kaffir lime leaves">
        <option value="kahlua">
        <option value="kalamata olives">
        <option value="kale">
        <option value="ketchup">
        <option value="kitchen bouquet">
        <option value="kiwis">
        <option value="kosher salt">
        <option value="ladyfingers">
        <option value="lamb">
        <option value="lasagna noodles">
        <option value="lb cake">
        <option value="lean ground beef">
        <option value="lean ground turkey">
        <option value="lean pork tenderloin">
        <option value="leeks">
        <option value="leg of lamb">
        <option value="lemon">
        <option value="lemon curd">
        <option value="lemon extract">
        <option value="lemon juice">
        <option value="lemon peel">
        <option value="lemon pepper">
        <option value="lemon wedges">
        <option value="lemongrass">
        <option value="lettuce">
        <option value="lettuce leaves">
        <option value="light butter">
        <option value="light coconut milk">
        <option value="light corn syrup">
        <option value="light cream cheese">
        <option value="light mayonnaise">
        <option value="light olive oil">
        <option value="light soy sauce">
        <option value="lime">
        <option value="lime juice">
        <option value="lime wedges">
        <option value="lime zest">
        <option value="linguine">
        <option value="liquid smoke">
        <option value="liquid stevia">
        <option value="liquor">
        <option value="live lobster">
        <option value="long-grain rice">
        <option value="low fat buttermilk">
        <option value="low fat milk">
        <option value="low fat milk">
        <option value="low fat plain yogurt">
        <option value="low fat ricotta cheese">
        <option value="low fat sour cream">
        <option value="low sodium chicken broth">
        <option value="low sodium soy sauce">
        <option value="low-sodium chicken stock">
        <option value="lower sodium beef broth">
        <option value="lump crab">
        <option value="m&m candies">
        <option value="macadamia nuts">
        <option value="macaroni and cheese mix">
        <option value="madras curry powder">
        <option value="malt drink mix">
        <option value="mandarin orange sections">
        <option value="mandarin oranges">
        <option value="mango">
        <option value="maple syrup">
        <option value="maraschino cherries">
        <option value="margarine">
        <option value="marinara sauce">
        <option value="marjoram">
        <option value="marsala wine">
        <option value="marshmallow fluff">
        <option value="marshmallows">
        <option value="masa harina">
        <option value="mascarpone">
        <option value="mat beans">
        <option value="matcha tea">
        <option value="mayonnaise">
        <option value="meat">
        <option value="meat">
        <option value="meatballs">
        <option value="medjool dates">
        <option value="mexican cream">
        <option value="meyer lemon juice">
        <option value="milk">
        <option value="milk chocolate chips">
        <option value="mint chutney">
        <option value="minute rice">
        <option value="miracle whip">
        <option value="mirin">
        <option value="miso">
        <option value="molasses">
        <option value="monterey jack cheese">
        <option value="mushroom">
        <option value="mussels">
        <option value="mustard">
        <option value="mustard seeds">
        <option value="napa cabbage">
        <option value="navel oranges">
        <option value="nectarine">
        <option value="new potatoes">
        <option value="non-fat greek yogurt">
        <option value="nonfat cool whip">
        <option value="nonfat milk">
        <option value="nori">
        <option value="nut butter">
        <option value="nut meal">
        <option value="nutella">
        <option value="nutritional yeast">
        <option value="oat flour">
        <option value="oats">
        <option value="oil">
        <option value="oil packed sun dried tomatoes">
        <option value="okra">
        <option value="old bay seasoning">
        <option value="olive oil">
        <option value="olives">
        <option value="onion">
        <option value="onion powder">
        <option value="onion soup mix">
        <option value="orange">
        <option value="orange bell pepper">
        <option value="orange juice">
        <option value="orange juice concentrate">
        <option value="orange liqueur">
        <option value="orange marmalade">
        <option value="orange oil">
        <option value="orange zest">
        <option value="oregano">
        <option value="oreo cookies">
        <option value="orzo">
        <option value="oyster sauce">
        <option value="oysters">
        <option value="palm sugar">
        <option value="pancetta">
        <option value="paneer">
        <option value="panko">
        <option value="papaya">
        <option value="paprika">
        <option value="parmigiano reggiano">
        <option value="parsley">
        <option value="parsley flakes">
        <option value="parsnip">
        <option value="part-skim mozzarella cheese">
        <option value="pasta">
        <option value="pasta salad mix">
        <option value="pasta sauce">
        <option value="pastry flour">
        <option value="peach">
        <option value="peanut butter">
        <option value="peanut butter chips">
        <option value="peanut butter cups">
        <option value="peanut oil">
        <option value="peanuts">
        <option value="pear liqueur">
        <option value="pearl barley">
        <option value="pearl onions">
        <option value="peas">
        <option value="pecan">
        <option value="pecan pieces">
        <option value="pecorino">
        <option value="penne">
        <option value="peperoncino">
        <option value="pepper jack cheese">
        <option value="peppercorns">
        <option value="peppermint baking chips">
        <option value="peppermint extract">
        <option value="pepperoni">
        <option value="peppers">
        <option value="pesto">
        <option value="pickle relish">
        <option value="pickles">
        <option value="pico de gallo">
        <option value="pie crust">
        <option value="pimento stuffed olives">
        <option value="pimientos">
        <option value="pine nuts">
        <option value="pineapple">
        <option value="pineapple chunks">
        <option value="pineapple in juice">
        <option value="pineapple juice">
        <option value="pink himalayan salt">
        <option value="pinto beans">
        <option value="pistachios">
        <option value="pita">
        <option value="pizza crust">
        <option value="pizza mix">
        <option value="plain greek yogurt">
        <option value="plain nonfat yogurt">
        <option value="plain yogurt">
        <option value="plantain">
        <option value="plum">
        <option value="plum tomatoes">
        <option value="poblano peppers">
        <option value="polenta">
        <option value="polish sausage">
        <option value="pomegranate juice">
        <option value="pomegranate molasses">
        <option value="pomegranate seeds">
        <option value="popcorn">
        <option value="poppy seeds">
        <option value="pork">
        <option value="Pork & Beans">
        <option value="pork belly">
        <option value="pork butt">
        <option value="pork chops">
        <option value="pork links">
        <option value="pork loin chops">
        <option value="pork loin roast">
        <option value="pork roast">
        <option value="pork shoulder">
        <option value="pork tenderloin">
        <option value="port">
        <option value="portabella mushrooms">
        <option value="pot roast">
        <option value="potato chips">
        <option value="potato starch">
        <option value="potatoes">
        <option value="poultry seasoning">
        <option value="powdered sugar">
        <option value="pretzel sandwiches">
        <option value="processed american cheese">
        <option value="prosciutto">
        <option value="provolone cheese">
        <option value="prunes">
        <option value="puff pastry">
        <option value="pumpkin">
        <option value="pumpkin pie filling">
        <option value="pumpkin pie spice">
        <option value="pumpkin puree">
        <option value="pumpkin seeds">
        <option value="queso fresco">
        <option value="quick cooking oats">
        <option value="quinoa">
        <option value="quinoa flour">
        <option value="radicchio">
        <option value="radishes">
        <option value="raisins">
        <option value="rajma masala">
        <option value="ramen noodles">
        <option value="ranch dressing">
        <option value="ranch dressing mix">
        <option value="raspberries">
        <option value="raspberry jam">
        <option value="raw cashews">
        <option value="raw shrimp">
        <option value="ready-to-serve Asian fried rice">
        <option value="real bacon recipe pieces">
        <option value="red apples">
        <option value="red bell peppers">
        <option value="red cabbage">
        <option value="red chilli">
        <option value="red delicious apples">
        <option value="red food coloring">
        <option value="red grapefruit juice">
        <option value="red grapes">
        <option value="red kidney beans">
        <option value="red lentils">
        <option value="red onion">
        <option value="red pepper flakes">
        <option value="red pepper powder">
        <option value="red potatoes">
        <option value="red velvet cookie">
        <option value="red wine">
        <option value="red wine vinegar">
        <option value="reduced fat shredded cheddar cheese">
        <option value="refried beans">
        <option value="refrigerated crescent rolls">
        <option value="refrigerated pizza dough">
        <option value="refrigerated sugar cookie dough">
        <option value="rhubarb">
        <option value="rib tips">
        <option value="rice">
        <option value="rice flour">
        <option value="rice krispies cereal">
        <option value="rice milk">
        <option value="rice noodles">
        <option value="rice paper">
        <option value="rice syrup">
        <option value="rice vinegar">
        <option value="rice wine">
        <option value="ricotta salata">
        <option value="ritz crackers">
        <option value="roast beef">
        <option value="roasted chicken">
        <option value="roasted nuts">
        <option value="roasted peanuts">
        <option value="roasted red peppers">
        <option value="roma tomatoes">
        <option value="romaine lettuce">
        <option value="root vegetables">
        <option value="rosemary">
        <option value="rotini pasta">
        <option value="rotisserie chicken">
        <option value="round steak">
        <option value="rub">
        <option value="rum extract">
        <option value="runny honey">
        <option value="russet potatoes">
        <option value="rutabaga">
        <option value="rye bread">
        <option value="rye meal">
        <option value="saffron threads">
        <option value="sage">
        <option value="sage leaves">
        <option value="salad dressing">
        <option value="salami">
        <option value="salmon fillet">
        <option value="salsa">
        <option value="salsa verde">
        <option value="salt">
        <option value="salt and pepper">
        <option value="salted butter">
        <option value="saltine crackers">
        <option value="sandwich bun">
        <option value="sauerkraut">
        <option value="sausage">
        <option value="sausage links">
        <option value="scotch bonnet chili">
        <option value="sea salt">
        <option value="sea scallops">
        <option value="seasoned bread crumbs">
        <option value="seasoned rice vinegar">
        <option value="seasoned salt">
        <option value="seasoning">
        <option value="seasoning blend">
        <option value="seeds">
        <option value="self-rising flour">
        <option value="semi sweet chocolate chips">
        <option value="serrano chile">
        <option value="sesame oil">
        <option value="sesame seed hamburger buns">
        <option value="sesame seeds">
        <option value="shallot">
        <option value="sharp cheddar cheese">
        <option value="sheeps milk cheese">
        <option value="shells">
        <option value="sherry">
        <option value="sherry">
        <option value="sherry vinegar">
        <option value="shiitake mushroom caps">
        <option value="short grain rice">
        <option value="short pasta">
        <option value="short ribs">
        <option value="shortbread cookies">
        <option value="shortcrust pastry">
        <option value="shortening">
        <option value="shredded cheddar cheese">
        <option value="shredded cheese">
        <option value="shredded chicken">
        <option value="shredded coconut">
        <option value="shredded mexican cheese blend">
        <option value="shredded mexican cheese blend">
        <option value="shredded mozzarella">
        <option value="silken tofu">
        <option value="sirloin steak">
        <option value="skim milk ricotta">
        <option value="skim vanilla greek yogurt">
        <option value="skin-on bone-in chicken leg quarters">
        <option value="skinless boneless chicken breast halves">
        <option value="skinless boneless chicken thighs">
        <option value="skinned black gram">
        <option value="slaw dressing">
        <option value="slaw mix">
        <option value="slivered almonds">
        <option value="smoked paprika">
        <option value="smoked salmon">
        <option value="smoked sausage">
        <option value="smooth peanut butter">
        <option value="snapper fillets">
        <option value="snow peas">
        <option value="soda water">
        <option value="sour cream">
        <option value="sourdough bowl">
        <option value="sourdough bread">
        <option value="soy milk">
        <option value="soy protein powder">
        <option value="soy sauce">
        <option value="spaghetti">
        <option value="spaghetti squash">
        <option value="sparkling wine">
        <option value="spelt flour">
        <option value="spicy brown mustard">
        <option value="spinach">
        <option value="sprite">
        <option value="sprouts">
        <option value="squash">
        <option value="sriracha sauce">
        <option value="steaks">
        <option value="steel cut oats">
        <option value="stevia">
        <option value="stew meat">
        <option value="stew vegetables">
        <option value="stock">
        <option value="store-bought phyllo">
        <option value="stout">
        <option value="strawberries">
        <option value="strawberry jam">
        <option value="strawberry jello">
        <option value="stuffing">
        <option value="stuffing mix">
        <option value="sub rolls">
        <option value="sugar">
        <option value="sugar snap peas">
        <option value="sugar syrup">
        <option value="sukrin sweetener">
        <option value="summer savory">
        <option value="summer squash">
        <option value="sunflower oil">
        <option value="sunflower seeds">
        <option value="sweet chilli sauce">
        <option value="sweet onion">
        <option value="sweet paprika">
        <option value="sweet pickle juice">
        <option value="sweet pickle relish">
        <option value="sweet potato">
        <option value="sweet tea">
        <option value="sweetened coconut">
        <option value="sweetened condensed milk">
        <option value="sweetened shredded coconut">
        <option value="swiss chard">
        <option value="swiss cheese">
        <option value="taco seasoning mix">
        <option value="taco shells">
        <option value="tahini">
        <option value="tamari">
        <option value="tapioca flour">
        <option value="tarragon">
        <option value="tart apple">
        <option value="tea bags">
        <option value="tequila">
        <option value="teriyaki sauce">
        <option value="thai basil">
        <option value="thai chiles">
        <option value="thai red curry paste">
        <option value="thick-cut bacon">
        <option value="tilapia fillets">
        <option value="toast">
        <option value="toffee bits">
        <option value="tofu">
        <option value="tomatillos">
        <option value="tomato juice">
        <option value="tomato paste">
        <option value="tomato puree">
        <option value="tomato sauce">
        <option value="tomato soup">
        <option value="tomatoes">
        <option value="top blade steak">
        <option value="top round steak">
        <option value="Top Sirloin">
        <option value="tortilla">
        <option value="tortilla chips">
        <option value="triple sec">
        <option value="truffle oil">
        <option value="tuna">
        <option value="turbinado sugar">
        <option value="turkey">
        <option value="turkey breast">
        <option value="turkey kielbasa">
        <option value="turmeric">
        <option value="turnips">
        <option value="unbleached flour">
        <option value="unsalted butter">
        <option value="unsmoked back bacon">
        <option value="unsweetened applesauce">
        <option value="unsweetened coconut milk">
        <option value="unsweetened shredded coconut">
        <option value="vanilla bean">
        <option value="vanilla bean paste">
        <option value="vanilla essence">
        <option value="vanilla extract">
        <option value="vanilla frosting">
        <option value="vanilla instant pudding mix">
        <option value="vanilla protein powder">
        <option value="vanilla wafers">
        <option value="vanilla yogurt">
        <option value="vegan cheese">
        <option value="vegan chocolate chips">
        <option value="vegan margarine">
        <option value="vegetable broth">
        <option value="vegetable oil">
        <option value="vegetarian bacon">
        <option value="vermouth">
        <option value="vinaigrette">
        <option value="vinegar">
        <option value="vodka">
        <option value="walnuts">
        <option value="water">
        <option value="water chestnuts">
        <option value="water-packed tuna">
        <option value="watercress">
        <option value="watermelon chunks">
        <option value="wheat bran">
        <option value="wheat germ">
        <option value="whipped cream">
        <option value="whipped topping">
        <option value="whipping cream">
        <option value="whiskey">
        <option value="white balsamic vinegar">
        <option value="white bread">
        <option value="white cake mix">
        <option value="white cheddar">
        <option value="white chocolate">
        <option value="white chocolate chips">
        <option value="white onion">
        <option value="white pepper">
        <option value="white whole wheat flour">
        <option value="white wine">
        <option value="white wine vinegar">
        <option value="whole allspice berries">
        <option value="whole chicken">
        <option value="whole coriander seeds">
        <option value="whole cranberry sauce">
        <option value="whole kernel corn">
        <option value="whole star anise">start
        <option value="whole wheat bread">
        <option value="whole wheat flour">
        <option value="whole wheat tortillas">
        <option value="whole-grain mustard">
        <option value="wine">
        <option value="wine vinegar">
        <option value="winter squash">
        <option value="won ton wraps">
        <option value="worcestershire sauce">
        <option value="wraps">
        <option value="xanthan gum">
        <option value="yeast">
        <option value="yellow bell pepper">
        <option value="yellow cake mix">
        <option value="yellow onion">
        <option value="yogurt">
        <option value="yukon gold potato">
        
  </datalist>
<button type="button" (click)="getFridgeFood()">Get Recipes</button>
<h2>{{fridgeItems}}</h2>

<article>
    <section class="container" *ngFor="let recipe of allRecipes">
        <div class="recipe-card"  [routerLink]="'/recipes/'+recipe.id"
            routerLinkActive="active">
            <figure>
                <img [src]="recipe.image" [alt]="recipe.title">
            </figure>
  
            <div class="card-meta">

                <p class="dish-type" >
                    {{recipe.missedIngredients[0].name}}</p>
  
                <ul class="dish-stats">
                    
                    <li>
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                            d="M8 2C4.6875 2 2 4.6875 2 8C2 11.3125 4.6875 14 8 14C11.3125 14 14 11.3125 14 8C14 4.6875 11.3125 2 8 2Z"
                            stroke-miterlimit="10" />
                        
                            <path d="M8 4V8.5H11" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>

                        {{recipe.readyInMinutes}} min

                    </li>
            
                    <li>
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                            d="M4.9713 2.5C7.00005 2.5 8.00005 4.5 8.00005 4.5C8.00005 4.5 9.00005 2.5 11.0288 2.5C12.6775 2.5 13.9832 3.87937 14 5.52531C14.0344 8.94187 11.2897 11.3716 8.2813 13.4134C8.19836 13.4699 8.10036 13.5 8.00005 13.5C7.89973 13.5 7.80174 13.4699 7.7188 13.4134C4.71067 11.3716 1.96598 8.94187 2.00005 5.52531C2.01692 3.87937 3.32255 2.5 4.9713 2.5Z"
                            stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        
                        {{recipe.healthScore}}
                    </li>
                </ul>
            
            </div> <!-- end card-meta -->
  
                <h1>{{recipe.title}}</h1>

        </div> <!-- end recipe-card -->

    </section> 
</article>