<nav>
    <input type="checkbox" id="check">
            
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
        
    <label class="logo" routerLink="/" routerLinkActive="active">RecipeApp</label>
        <ul>
            <li><a routerLink="/recipes" routerLinkActive="active">Search for recipes</a></li>
            <li><a routerLink="/food-in-my-fridge" routerLinkActive="active">Search by ingredients</a></li>
            <li><a routerLink="/recipes/1" routerLinkActive="active"></a></li>
            <li><a routerLink="/lists/1" routerLinkActive="active"></a></li>
            <li><a routerLink="/random" routerLinkActive="active"></a></li>
            <li><a *ngIf="auth" routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
            <li><a *ngIf="auth" (click)="logout()">Logout</a></li>
            <li><a *ngIf="!auth" routerLink="/register" routerLinkActive="active">Register</a></li>
            <li><a *ngIf="!auth" routerLink="/login" routerLinkActive="active">Login</a></li>
        </ul>
</nav>
