<section class="container">

  <div class="top-section">
    <div class="image-left">
      <img src="{{allRecipe.image}}" alt="{{allRecipe.title}}">
    </div>
    

    <div class="ingredients">
      <h2>{{allRecipe.title}}</h2>

      <article class="ingredients-container">
        <h3>Ingredients</h3>
        
        <ul class="ingredients" *ngFor ="let ingredients of allRecipe.extendedIngredients">
          <li>{{ingredients.original}}</li>
        </ul>
      
      </article>
    </div>
  </div>

  <div class="recipe-icons">

    <article>
      <i class="fas fa-clock"></i>
      <h5>Ready in</h5>
      <p>{{allRecipe.readyInMinutes}} min</p>
    </article>

    <article>
      <i class="fa fa-dollar-sign"></i>
      <h5>Cost per Serving</h5>
      <p>{{ price | number:'1.0-0' }} kr </p>
    </article>

    <article>
      <i class="fas fa-user-friends"></i>
      <h5>Servings</h5>
      <p>{{allRecipe.servings}} servings</p>
    </article>

  </div>

  <div class="button-container">
 <button (click)="addtoFav(favourite)">Add to Favourites</button>
  </div> 

  <article class="mealType-container">
    <h3>Meal Type</h3>
  
    <ul class="mealType" *ngFor ="let mealType of allRecipe.dishTypes">
      <li>{{mealType}}</li>
    </ul>

  </article>

<div class="recipe-content">
  
  <article class="instructions-container">
    <h3>Instructions</h3>

    <ul class="instructions" *ngFor ="let instruction of allRecipe.analyzedInstructions[0].steps">
      <li>{{instruction.number}}. {{instruction.step}}.</li>
    </ul>
  </article>
  
</div>
</section>

