<div>
<section class="container">
  <article class="recipe-info">
    <h2>{{allRecipe.title}}</h2>

    <img src="{{allRecipe.image}}" alt="{{allRecipe.title}}">


    <div class="recipe-icons">

      <article>
        <i class="fas fa-clock"></i>
        <h5>Ready in</h5>
        <p>{{allRecipe.readyInMinutes}} min</p>
      </article>

      <article>
        <i class="far fa-clock"></i>
        <h5>Price per serving</h5>
        <p>{{allRecipe.pricePerServing | currency:'USD'}} </p>
      </article>

      <article>
        <i class="fas fa-user-friends"></i>
        <h5>Servings</h5>
        <p>{{allRecipe.servings}} servings</p>
      </article>

    </div>

    <article class="mealType-container">
      <h3>Meal Type</h3>
  
      <!-- mealType loop -->
      <ul class="mealType" *ngFor ="let mealType of allRecipe.dishTypes">
        <li>{{mealType}}</li>
      </ul>
      <!-- end of mealType loop -->
    </article>


  </article>
</section>
<!-- content -->
<div class="recipe-content">
  
  <article class="instructions-container">
    <h3>Instructions</h3>

    <!-- instruction loop -->
    <ul class="instructions" *ngFor ="let instruction of allRecipe.analyzedInstructions[0].steps">
      <li>{{instruction.number}}. {{instruction.step}}.</li>
    </ul>
    <!-- end of instruction loop -->
  </article>
  
  <article class="ingredients-container">
    <h3>Ingredients</h3>

    <!-- ingredient loop -->
    <ul class="ingredients" *ngFor ="let ingredients of allRecipe.extendedIngredients">
      <li>{{ingredients.original}}</li>
    </ul>
    <!-- end of ingredient loop -->
  </article>
 </div>
</div>