.recipe-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 2rem 0;
  text-align: center;
}
.recipe-icons i {
  font-size: 1.5rem;
  color: #BB5274;
}

.mealType-container {
  margin-left: 7%;
}

@media screen and (min-width: 992px) {
  .recipe-hero {
    grid-template-columns: 4fr 5fr;
    align-items: center;
  }
}
.recipe-content {
  padding: 3rem 0;
  
  margin-left: 7%;
}
@media screen and (min-width: 992px) {
  .recipe-content {
    grid-template-columns: 2fr 1fr;
  }
}


.container {
  max-width: 80%;
  margin: auto;
  height: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 30px;
  background: white;
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.3);
}

.button-container {
  margin: auto;
  width: 70%;
}

button {
  background: #BB5274;
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  color: white;
  margin-top: 20%;
  border-radius: 30px;
  font-size: 1.2em;
}

.top-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 7%;
}

li {
  list-style-type: none;
}

/*@media only screen and (max-width: 768px) {
  .container {
    max-width: 90%;
    margin: auto;
    height: auto;
  }

  .left,
  .right {
    width: 100%;
  }

  .container {
    flex-direction: column;
  }
}

@media only screen and (max-width:511px) {
  .container {
    max-width: 100%;
    height: auto;
    padding: 10px;
  }

  .left,
  .right {
    padding: 0;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .option {
    display: flex;
    flex-wrap: wrap;
  }
}
*/