

<h1>Search for Recipe</h1>

    <input type="text" [(ngModel)]="searchquery"><br>


    <p>Select your Diet</p>
    <select id="diet" name="&diet" [(ngModel)]="diet">
        <option value=""></option>
        <option value="gluten free">Gluten Free</option>
        <option value="vegetarian">Vegetarian</option>
        <option value="vegan">Vegan</option>
    </select>
    <h2>{{diet}}</h2>
    
    <br>

    <p>Type of Meal</p>
    <select id="type" name="&type" [(ngModel)]="type">
        <option value=""></option>
        <option value="main course">Main Course</option>
        <option value="appetizer">Starter</option>
        <option value="desert">Desert</option>
        <option value="snack">Snack</option>
        <option value="breakfast">Breakfast</option>
        <option value="side dish">Side Dish</option>
        <option value="salad">Salad</option>
    </select>
    <h2>{{type}}</h2>

    <br>

    <p>Sort</p>
    <select id="sort" name="&sort" [(ngModel)]="sort">
        <option value=""></option>
        <option value="healthiness">Healthiest food first</option>
        <option value="price&sortDirection=asc">Price (lowest first)</option>
        <option value="calories&sortDirection=asc">Calories (lowest amount first)</option>
        <option value="total-fat">Fattiest food first</option>
    </select>
    <h2>{{sort}}</h2>

    <br>
    
    <button type="button" routerLink="/recipes/" routerLinkActive="active" (click)="getRecipes()">Get Recipes</button>

    <p *ngIf="allRecipes.length === 0" >Your search gave no suggested recipes</p>

<article>
    <section class="container" *ngFor="let recipe of allRecipes">
        <div class="card" [routerLink]="'/recipes/'+recipe.id" routerLinkActive="active">
       
            <div class="favourite" [routerLink]="'/favourites/'+recipe.id" routerLinkActive="active">
                <p>Add to</p>
                <h3>Favourite</h3>
            </div>
                       
            <div class="imageContainer">
                <div class="card-image">
                    <img [src]="recipe.image" [alt]="recipe.title">
                </div>
            </div>
      
            <div class="card-text">
                <p class="card-meal-type">{{ diet | titlecase }}</p>
                <h2 class="card-title">{{recipe.title}}</h2>
                    <div class="card-body">
                        <ul class="dish-stats">
                    
                            <li>
                                <p >{{recipe.pricePerServing | number:'1.0-0' }} :-</p>

                            </li>
                    
                            <li>
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                    d="M4.9713 2.5C7.00005 2.5 8.00005 4.5 8.00005 4.5C8.00005 4.5 9.00005 2.5 11.0288 2.5C12.6775 2.5 13.9832 3.87937 14 5.52531C14.0344 8.94187 11.2897 11.3716 8.2813 13.4134C8.19836 13.4699 8.10036 13.5 8.00005 13.5C7.89973 13.5 7.80174 13.4699 7.7188 13.4134C4.71067 11.3716 1.96598 8.94187 2.00005 5.52531C2.01692 3.87937 3.32255 2.5 4.9713 2.5Z"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                
                                {{recipe.id}}
                            </li>
                        </ul>

                    </div>
            </div>

            <div class="card-price">
                <h3>Healthscore</h3>
                <p>{{recipe.healthScore}} / 100</p>
            </div>

        </div>
    </section>
</article>